.title {
  font-family: "Mountains of Christmas", cursive;
  font-size: 60px;
}

.signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 0 15px;
}

.scroll {
  position: relative;
  max-width: 500px;
}

.list {
  position: absolute;
  left: 25%;
  top: 45%;
  color: black;
  max-width: 50%;
  width: 100%;
}

.list span {
  display: inline-block;
  margin-right: 10px;
  font-family: "Mountains of Christmas", cursive;
}
